*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(lightgrey,grey);
}

#container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    font-size: 60px;
    border: 150px solid black;
    text-shadow: 2px 0 8px black;
    font-weight: 800;
    box-shadow: 2px 2px 10px black;
    border-radius: 100%;
    margin: 70px;
}